<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Login </title>

</head>
<body>
    <div class="Main-Div" id="Main-Div">

        <h1 id="Main-Div-H1-Title" class="Main-Div-H1-Title"> Login </h1>

        <div class="Inner-Div">
            <form action="" id="Main-Form" class="main-form">

                <label for="Email-Input" class="Expense-Label"> Email </label>
                <input type="email" name="Email" id="Email-Input" class="Form-Inputs">

                <label for="Password-Input" id="Category-Label" class="Expense-Label"> Password </label>
                <input type="password" name="Password" id="Password-Input" class="Form-Inputs">

                <a href="signup.html" class="login-link"> New User? Click Here to Signup </a>
                <button type="submit" id="signup-button" class="submit-button"> Login </button>
            </form>

            <a href="password.html" class="forgot-pw-link">
                <button type="submit" id="forgot-pw-btn" class="forgot-pw-btn"> Forgot Password </button>
            </a>
    
        </div>
    </div>
</body>

<script src="../script/login.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

</html>