<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="../public//report.css"> -->

    <title> Report </title>

</head>
<body>
    <div class="Main-Div" id="Main-Div">

        <h1 id="Main-Div-H1-Title" class="Main-Div-H1-Title"> Report </h1>

        <table class="report-table" id="report-table">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </table>

        <button class="download-report-button"> Download Report </button>
    </div>
</body>

<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="../script/report.js"></script>

</html>