<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="../public//report.css"> -->

    <title> Report </title>

</head>
<body>
    <div class="Main-Div" id="Main-Div">

        <h1 id="Main-Div-H1-Title" class="Main-Div-H1-Title"> Report </h1>

        <label for="rows-select" class="rows-select-label"> Rows per Page </label>
        <select name="rows-select" id="rows-select" class="rows-select">
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="5" selected> 5 </option>
            <option value="10"> 10 </option>
            <option value="20"> 20 </option>
        </select>

        <table class="report-table" id="report-table">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </table>

        <button class="download-report-button" id="download-report-button"> Download Report </button>
        <button class="past-links-button" id="past-links-button"> Download Past Reports </button>
        <div id="page-buttons-div">
        </div>
    </div>
    
</body>

<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="../script/report.js"></script>

</html>