<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Sign Up</title>

</head>
<body>
    <div class="Main-Div">

        <h1 id="Main-Div-H1-Title" class="Main-Div-H1-Title"> Sign Up </h1>

        <div class="Inner-Div">
        <form action="" id="Main-Form" class="main-form">

            <label for="Username-Input" class="Expense-Label"> Name </label>
            <input type="text" name="Username" id="Username-Input" class="Form-Inputs">

            <label for="Email-Input" class="Expense-Label"> Email </label>
            <input type="email" name="Email" id="Email-Input" class="Form-Inputs">

            <label for="Password-Input" id="Category-Label" class="Expense-Label"> Password </label>
            <input type="password" name="Password" id="Password-Input" class="Form-Inputs">

            <a href="login.html" class="login-link"> Already a User? Click Here to Login </a>
            <button type="submit" id="signup-button" class="submit-button"> Sign Up </button>
        </form>        
        </div>
    </div>
</body>

<script src="../script/signUp.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

</html>